* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  box-sizing: border-box; }

body {
  background-color: #aaa;
  min-height: 100vh; }

.contenedor-titulo .titulo {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  background-color: #DA7600; }

.navbar {
  display: flex;
  flex-direction: row;
  background-color: #DA7600;
  text-decoration: none;
  font-family: sans-serif;
  justify-content: space-between;
  text-decoration: none;
  list-style: none;
  flex-wrap: wrap; }
  .navbar .ul-navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    gap: 10px; }
    .navbar .ul-navbar li {
      display: flex;
      flex-direction: row;
      padding: 7px 5px;
      text-decoration: none;
      background-color: rgba(0, 0, 0, 0.5);
      color: black;
      border: 0.5px solid black;
      border-radius: 60px;
      margin: 20px 2px;
      min-height: 10px;
      flex-wrap: wrap; }
      .navbar .ul-navbar li:hover {
        transform: scale(1.1); }
      .navbar .ul-navbar li a {
        color: black;
        text-decoration: none;
        font-size: 1.3rem;
        text-align: center; }
        .navbar .ul-navbar li a:hover {
          color: #DA7600; }

.section1 {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "div1 div2 div3 div4" "div5 div6 div7 div8" "div9 div10 div11 div12";
  justify-content: center;
  align-content: center;
  gap: .1rem;
  justify-items: center;
  align-items: center;
  font-family: sans-serif; }
  .section1 .div1 {
    grid-area: div1;
    text-wrap: balance;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    border-radius: 10px; }
    .section1 .div1:hover {
      background-color: #0000009f; }
  .section1 .div2 {
    grid-area: div2;
    text-wrap: balance;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    border-radius: 10px; }
    .section1 .div2:hover {
      background-color: #0000009f; }
  .section1 .div3 {
    grid-area: div3;
    text-wrap: balance;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    border-radius: 10px; }
    .section1 .div3:hover {
      background-color: #0000009f; }
  .section1 .div4 {
    grid-area: div4;
    text-wrap: balance;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    border-radius: 10px; }
    .section1 .div4:hover {
      background-color: #0000009f; }
  .section1 .div5 {
    grid-area: div5;
    text-wrap: balance;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    border-radius: 10px; }
    .section1 .div5:hover {
      background-color: #0000009f; }
  .section1 .div6 {
    grid-area: div6;
    text-wrap: balance;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    border-radius: 10px; }
    .section1 .div6:hover {
      background-color: #0000009f; }
  .section1 .div7 {
    grid-area: div7;
    text-wrap: balance;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    border-radius: 10px; }
    .section1 .div7:hover {
      background-color: #0000009f; }
  .section1 .div8 {
    grid-area: div8;
    text-wrap: balance;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    border-radius: 10px; }
    .section1 .div8:hover {
      background-color: #0000009f; }
  .section1 .div9 {
    grid-area: div9;
    text-wrap: balance;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    border-radius: 10px; }
    .section1 .div9:hover {
      background-color: #0000009f; }
  .section1 .div10 {
    grid-area: div10;
    text-wrap: balance;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    border-radius: 10px; }
    .section1 .div10:hover {
      background-color: #0000009f; }
  .section1 .div11 {
    grid-area: div11;
    text-wrap: balance;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    border-radius: 10px; }
    .section1 .div11:hover {
      background-color: #0000009f; }
  .section1 .div12 {
    grid-area: div12;
    text-wrap: balance;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    border-radius: 10px; }
    .section1 .div12:hover {
      background-color: #0000009f; }

.conocenos .divconocenos1 {
  display: flex;
  flex-direction: row;
  width: 150px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  color: black;
  margin: auto;
  border-radius: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px; }

.conocenos .imgconocenos img {
  width: 100%;
  height: 500px; }

.conocenos .divconocenos2 {
  margin: 5px 10px;
  border: 5px;
  border-radius: 10px;
  background-color: #000000c7; }
  .conocenos .divconocenos2 p {
    color: white;
    border: 5px;
    padding: 5px;
    text-wrap: balance; }

.grid-dos .div1contactanos {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: black;
  border-radius: 40px;
  width: 22%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center; }

.grid-dos .imagen-contactanos img {
  height: 500px;
  width: 100%; }

.grid-dos .formulario1 {
  margin-top: 10px;
  margin-bottom: 5px;
  width: 800px;
  padding: 10px;
  margin: auto; }
  .grid-dos .formulario1 .div2contactanos input {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #000000ce;
    width: 100%;
    border-radius: 40px;
    border: 2px solid black;
    color: orange; }
  .grid-dos .formulario1 .div2contactanos textarea {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #000000ce;
    width: 100%;
    border-radius: 20px;
    border: 2px solid black;
    color: orange; }
  .grid-dos .formulario1 .div2contactanos button {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #000000ce;
    width: 100%;
    border-radius: 20px;
    border: 2px solid black;
    color: orange; }
    .grid-dos .formulario1 .div2contactanos button:hover {
      transform: scale(1);
      color: black;
      background-color: #DA7600; }

.tienda {
  display: grid;
  width: 100%;
  min-height: 750px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr); }
  .tienda .div14 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    border-bottom: 1px solid #000;
    display: grid;
    justify-items: center;
    align-items: end;
    padding-bottom: 20px; }
  .tienda .div15 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-content: end;
    align-content: center;
    border-bottom: 1px solid #000;
    display: grid;
    justify-content: center;
    align-content: end;
    padding-bottom: 20px; }
  .tienda .div16 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    border-bottom: 1px solid #000;
    display: grid;
    justify-content: center;
    align-content: end;
    padding-bottom: 20px; }
  .tienda .div17 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    border-bottom: 1px solid #000;
    display: grid;
    justify-content: center;
    align-content: end;
    padding-bottom: 20px; }
  .tienda .div18 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    background-image: url(../assets/tisot2.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center; }
  .tienda .div19 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3; }
    .tienda .div19 p {
      display: flex;
      box-sizing: border-box;
      flex-wrap: wrap;
      background-color: #0000008f;
      margin: 15px;
      padding: 15px;
      border-radius: 20px; }
  .tienda .div20 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    justify-content: center;
    align-content: center;
    margin: 50px;
    background-color: #0000008f;
    border-radius: 20px; }
  .tienda .div21 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    justify-content: center;
    align-content: center;
    margin: 50px; }
    .tienda .div21 input {
      background-color: #000000b1;
      padding: 5px;
      border: none;
      border: 1px solid #000;
      border-radius: 20px;
      color: #DA7600; }
  .tienda .div22 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    justify-content: center;
    align-content: center;
    margin: 50px;
    background-color: #0000008f;
    border-radius: 20px; }
  .tienda .div23 {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    display: grid;
    justify-content: center;
    align-content: end;
    padding-bottom: 20px; }
  .tienda .div24 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    display: grid;
    align-content: end;
    padding-bottom: 20px;
    padding-left: 20px; }
  .tienda .div25 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 3;
    border-bottom: 1px solid #000;
    display: grid;
    justify-content: end;
    align-content: end;
    padding-bottom: 20px; }
  .tienda .div26 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 5;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    display: grid;
    justify-content: baseline;
    align-content: center;
    padding-left: 20px; }
  .tienda .div27 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 4;
    display: grid;
    justify-content: center;
    align-items: end; }
  .tienda .div28 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 5;
    border-bottom: 1px solid #000;
    display: grid;
    justify-content: baseline;
    align-items: center; }
    .tienda .div28 h3:hover {
      transform: scale(1.1); }
  .tienda .div29 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 6;
    display: grid;
    padding-top: 10px;
    padding-left: 20px; }
  .tienda .div30 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 5;
    grid-row-end: 6;
    display: grid;
    justify-content: end;
    padding-top: 10px;
    padding-right: 10px; }
  .tienda .div31 {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 6;
    grid-row-end: 7;
    display: grid;
    justify-content: center;
    align-items: center; }
    .tienda .div31 h3 {
      display: grid;
      background-color: #DA7600;
      padding: 10px 60px;
      border-radius: 20px;
      margin: 10px 0px; }
      .tienda .div31 h3:hover {
        transform: scale(1.1); }
  .tienda .div32 {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 7;
    grid-row-end: 8;
    border-bottom: 1px solid #000; }
    .tienda .div32 h3 {
      display: grid;
      margin-left: 20px; }
  .tienda .div33 {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 8;
    grid-row-end: 9;
    display: grid; }
    .tienda .div33 input {
      display: grid;
      margin: 5px 20px;
      padding: 10px;
      border: none;
      border: 1px solid #000;
      border-radius: 20px;
      background-color: #000000d1;
      color: #DA7600; }
  .tienda .div34 {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 9;
    grid-row-end: 10;
    display: grid;
    justify-content: center;
    align-items: center; }
    .tienda .div34 h3 {
      display: grid;
      background-color: #DA7600;
      padding: 10px 60px;
      border-radius: 20px;
      margin: 10px 0px; }
      .tienda .div34 h3:hover {
        transform: scale(1.1); }
  .tienda .div35 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 10;
    border-right: 1px solid #000;
    border-top: 1px solid #000; }

.section-atencion {
  display: grid;
  width: 100%;
  min-height: 1000px;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  font-family: sans-serif;
  color: black;
  gap: 10px; }
  .section-atencion .atencion-1 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    border-top-right-radius: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin: 15px; }
  .section-atencion .atencion-2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    border-top-right-radius: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin: 15px; }
  .section-atencion .atencion-3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
    background-image: linear-gradient(#000b, #000b), url(../assets/relog2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    color: #DA7600;
    display: grid;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center; }
  .section-atencion .atencion-4 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
    background-image: linear-gradient(#000b, #000b), url(../assets/relog1.webp);
    justify-self: center;
    align-self: center;
    background-size: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #DA7600;
    display: grid;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center; }
  .section-atencion .atencion-5 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
    list-style: none;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    border-top-right-radius: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin: 15px;
    text-decoration: none;
    color: black; }
    .section-atencion .atencion-5:hover {
      transform: scale(1.1);
      background-color: #DA7600; }
  .section-atencion a {
    text-decoration: none;
    color: #DA7600; }
    .section-atencion a:hover {
      color: #000; }
  .section-atencion .atencion-6 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
    list-style: none;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    border-top-right-radius: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin: 15px;
    text-decoration: none;
    color: black; }
    .section-atencion .atencion-6:hover {
      transform: scale(1.1);
      background-color: #DA7600; }
    .section-atencion .atencion-6 a {
      text-decoration: none;
      color: #DA7600; }
      .section-atencion .atencion-6 a:hover {
        color: #000; }
  .section-atencion .atencion-7 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
    list-style: none;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    border-top-right-radius: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin: 15px;
    text-decoration: none;
    color: black; }
    .section-atencion .atencion-7:hover {
      transform: scale(1.1);
      background-color: #DA7600; }
    .section-atencion .atencion-7 a {
      text-decoration: none;
      color: #DA7600; }
      .section-atencion .atencion-7 a:hover {
        color: #000; }
  .section-atencion .atencion-8 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 7;
    list-style: none;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    border-top-right-radius: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin: 15px;
    color: black; }
    .section-atencion .atencion-8:hover {
      transform: scale(1.1);
      background-color: #DA7600; }
    .section-atencion .atencion-8 a {
      text-decoration: none;
      color: #DA7600; }
      .section-atencion .atencion-8 a:hover {
        color: #000; }

footer {
  background-color: #DA7600;
  min-height: 180px; }
  footer .contenedor-footer {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    font-family: sans-serif;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    flex-wrap: wrap; }
    footer .contenedor-footer ul {
      display: flex;
      flex-direction: row;
      width: 100%;
      flex-wrap: wrap;
      margin: 0px;
      padding: 0px;
      justify-content: center;
      gap: 10px; }
      footer .contenedor-footer ul li {
        display: flex;
        flex-direction: row;
        padding: 7px 5px;
        text-decoration: none;
        background-color: rgba(0, 0, 0, 0.5);
        color: black;
        border: 0.5px solid black;
        border-radius: 60px;
        margin: 20px 2px;
        min-height: 10px;
        flex-wrap: wrap; }
        footer .contenedor-footer ul li:hover {
          transform: scale(1.1); }
        footer .contenedor-footer ul li a {
          color: black;
          text-decoration: none;
          font-size: 1.3rem;
          text-align: center; }
          footer .contenedor-footer ul li a:hover {
            color: #DA7600; }

@media screen and (max-width: 768px) {
  .section1 {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "div1 div2 div3" "div4 div5 div6" "div7 div8 div9" "div10 div11 div12"; }
  .grid-dos .div1contactanos {
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: black;
    justify-content: center;
    align-items: center;
    border-radius: 40px; }
  .grid-dos .imagen-contactanos img {
    height: 500px;
    width: 100%; }
  .grid-dos .formulario1 {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 600px;
    padding: 10px;
    margin: auto; }
  .tienda {
    display: grid;
    width: 100%;
    min-height: 750px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(14, 1fr); }
    .tienda .div14 {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
      border-bottom: 1px solid #000;
      display: grid;
      justify-items: center;
      align-items: end;
      padding-bottom: 20px; }
    .tienda .div15 {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2; }
    .tienda .div16 {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 2;
      border-bottom: 1px solid #000;
      display: grid;
      justify-content: center;
      align-content: end;
      padding-bottom: 20px; }
    .tienda .div17 {
      display: none; }
    .tienda .div18 {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 4;
      background-image: url(../assets/tisot2.png);
      background-repeat: no-repeat;
      background-size: auto;
      background-position: center; }
    .tienda .div19 {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 4;
      grid-row-end: 5; }
      .tienda .div19 p {
        display: flex;
        box-sizing: border-box;
        flex-wrap: wrap;
        background-color: #0000008f;
        margin: 15px;
        padding: 15px;
        border-radius: 20px; }
    .tienda .div20 {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
      display: grid;
      justify-content: center;
      align-content: center;
      margin: 50px;
      background-color: #0000008f;
      border-radius: 20px; }
    .tienda .div21 {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 3;
      display: grid;
      justify-content: center;
      align-content: center;
      margin: 50px; }
      .tienda .div21 input {
        background-color: #0000008f;
        padding: 5px;
        border-radius: 20px; }
    .tienda .div22 {
      display: none; }
    .tienda .div23 {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 5;
      grid-row-end: 6;
      border-bottom: 1px solid #000;
      border-left: none;
      display: grid;
      justify-content: center;
      align-content: end;
      padding-bottom: 20px; }
    .tienda .div24 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 6;
      grid-row-end: 7;
      border-bottom: 1px solid #000;
      border-left: none;
      display: grid;
      align-content: end;
      padding-bottom: 20px;
      padding-left: 20px; }
    .tienda .div25 {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 6;
      grid-row-end: 7;
      border-bottom: 1px solid #000;
      display: grid;
      justify-content: end;
      align-content: end;
      padding-bottom: 20px; }
      .tienda .div25 h5 {
        display: grid;
        margin-right: 20px; }
    .tienda .div26 {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 7;
      grid-row-end: 9;
      border-bottom: 1px solid #000;
      border-left: none;
      display: grid;
      justify-content: baseline;
      align-content: center;
      padding-left: 20px; }
    .tienda .div27 {
      grid-column-start: 2;
      grid-column-end: 4;
      grid-row-start: 7;
      grid-row-end: 8;
      display: grid;
      justify-content: center;
      align-items: end; }
    .tienda .div28 {
      grid-column-start: 2;
      grid-column-end: 4;
      grid-row-start: 8;
      grid-row-end: 9;
      border-bottom: 1px solid #000;
      display: grid;
      justify-content: center;
      align-items: center; }
    .tienda .div29 {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 9;
      grid-row-end: 10;
      display: grid;
      padding-top: 10px;
      padding-left: 20px; }
    .tienda .div30 {
      grid-column-start: 2;
      grid-column-end: 4;
      grid-row-start: 9;
      grid-row-end: 10;
      display: grid;
      padding-top: 10px; }
      .tienda .div30 h5 {
        display: grid;
        margin-right: 20px; }
    .tienda .div31 {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 10;
      grid-row-end: 11;
      display: grid;
      justify-content: center;
      align-items: center; }
      .tienda .div31 h3 {
        display: grid;
        background-color: #DA7600;
        padding: 10px 60px;
        border-radius: 20px;
        margin: 10px 0px; }
    .tienda .div32 {
      display: grid;
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 11;
      grid-row-end: 12;
      border-bottom: 1px solid #000;
      align-items: end; }
      .tienda .div32 h3 {
        display: grid;
        margin-left: 20px;
        margin-bottom: 20px; }
    .tienda .div33 {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 12;
      grid-row-end: 13;
      margin: 40px 15px; }
    .tienda .div34 {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 13;
      grid-row-end: 14;
      display: grid;
      justify-content: center;
      align-items: center; }
      .tienda .div34 h3 {
        display: grid;
        background-color: #DA7600;
        padding: 10px 60px;
        border-radius: 20px;
        margin: 10px 0px;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center; }
    .tienda .div35 {
      display: none; } }

@media screen and (max-width: 425px) {
  .navbar .ul-navbar {
    flex-direction: column;
    margin: 10px 80px; }
    .navbar .ul-navbar li {
      justify-content: center;
      margin: 5px 0px; }
  .section1 {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "div1"  "div2"  "div3" "div4"  "div5"  "div6" "div7"  "div8"  "div9" "div10"  "div11"  "div12"; }
  .conocenos .divconocenos1 {
    display: flex;
    flex-direction: row;
    width: 150px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    color: black;
    margin: auto;
    border-radius: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px; }
  .conocenos .imgconocenos img {
    width: 100%;
    height: 300px;
    border-radius: 10px; }
  .grid-dos .div1contactanos {
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: black;
    justify-content: center;
    align-items: center;
    border-radius: 40px; }
  .grid-dos .imagen-contactanos .div
img {
    height: 400px;
    width: 100%; }
  .grid-dos .formulario1 {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 400px;
    padding: 10px;
    margin: auto; }
  .tienda {
    display: grid;
    width: 100%;
    min-height: 750px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(18, 1fr); }
    .tienda .div14 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
      border-bottom: 1px solid #000;
      display: grid;
      justify-items: center;
      align-items: end;
      padding-bottom: 20px; }
    .tienda .div15 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 5;
      grid-row-end: 6; }
    .tienda .div16 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 7;
      grid-row-end: 8;
      border-bottom: 1px solid #000;
      display: grid;
      justify-content: center;
      align-content: end;
      padding-bottom: 20px; }
    .tienda .div17 {
      display: none; }
    .tienda .div18 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 4;
      background-image: url(../assets/tisot2.png);
      background-repeat: no-repeat;
      background-size: auto;
      background-position: center; }
    .tienda .div19 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 4;
      grid-row-end: 5; }
      .tienda .div19 p {
        display: flex;
        box-sizing: border-box;
        flex-wrap: wrap;
        background-color: #0000008f;
        margin: 15px;
        padding: 15px;
        border-radius: 20px; }
    .tienda .div20 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 6;
      grid-row-end: 7;
      display: grid;
      justify-content: center;
      align-content: center;
      margin: 50px;
      background-color: #0000008f;
      border-radius: 20px; }
    .tienda .div21 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 8;
      grid-row-end: 9;
      display: grid;
      justify-content: center;
      align-content: center;
      margin: 50px; }
      .tienda .div21 input {
        background-color: #0000008f;
        padding: 5px;
        border-radius: 20px; }
    .tienda .div22 {
      display: none; }
    .tienda .div23 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 9;
      grid-row-end: 10;
      border-bottom: 1px solid #000;
      border-left: none;
      display: grid;
      justify-content: center;
      align-content: end;
      padding-bottom: 20px; }
    .tienda .div24 {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 10;
      grid-row-end: 11;
      border-bottom: 1px solid #000;
      border-left: none;
      display: grid;
      align-content: end;
      padding-bottom: 20px;
      padding-left: 20px; }
    .tienda .div25 {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 10;
      grid-row-end: 11;
      border-bottom: 1px solid #000;
      display: grid;
      justify-content: end;
      align-content: end;
      padding-bottom: 20px; }
      .tienda .div25 h5 {
        display: grid;
        margin-right: 20px; }
    .tienda .div26 {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 11;
      grid-row-end: 13;
      border-bottom: 1px solid #000;
      border-left: none;
      display: grid;
      justify-content: baseline;
      align-content: center;
      padding-left: 20px; }
    .tienda .div27 {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 11;
      grid-row-end: 12;
      display: grid;
      justify-content: center;
      align-items: end; }
    .tienda .div28 {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 12;
      grid-row-end: 13;
      border-bottom: 1px solid #000;
      display: grid;
      justify-content: center;
      align-items: center; }
    .tienda .div29 {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 13;
      grid-row-end: 14;
      display: grid;
      padding-top: 10px;
      padding-left: 20px; }
    .tienda .div30 {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 13;
      grid-row-end: 14;
      display: grid;
      padding-top: 10px; }
      .tienda .div30 h5 {
        display: grid;
        margin-right: 20px; }
    .tienda .div31 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 14;
      grid-row-end: 15;
      display: grid;
      justify-content: center;
      align-items: center; }
      .tienda .div31 h3 {
        display: grid;
        background-color: #DA7600;
        padding: 10px 60px;
        border-radius: 20px;
        margin: 10px 0px; }
    .tienda .div32 {
      display: grid;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 15;
      grid-row-end: 16;
      border-bottom: 1px solid #000;
      align-items: end; }
      .tienda .div32 h3 {
        display: grid;
        margin-left: 20px;
        margin-bottom: 20px; }
    .tienda .div33 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 16;
      grid-row-end: 17;
      margin: 40px 15px; }
    .tienda .div34 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 17;
      grid-row-end: 18;
      display: grid;
      justify-content: center;
      align-items: center; }
      .tienda .div34 h3 {
        display: grid;
        background-color: #DA7600;
        padding: 10px 60px;
        border-radius: 20px;
        margin: 10px 0px;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center; }
    .tienda .div35 {
      display: none; }
  .section-atencion {
    display: grid;
    width: 100%;
    min-height: 1000px;
    list-style: none;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(11, 1fr);
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    font-family: sans-serif;
    color: black;
    gap: 10px; }
    .section-atencion .atencion-1 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
      border-top-left-radius: 60px;
      border-bottom-left-radius: 60px;
      border-bottom-right-radius: 60px;
      border-top-right-radius: 60px;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 10px;
      margin: 15px; }
    .section-atencion .atencion-2 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
      border-top-left-radius: 60px;
      border-bottom-left-radius: 60px;
      border-bottom-right-radius: 60px;
      border-top-right-radius: 60px;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 10px;
      margin: 15px; }
    .section-atencion .atencion-3 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 5;
      background-image: linear-gradient(#000b, #000b), url(../assets/relog2.webp);
      background-size: cover;
      background-repeat: no-repeat;
      color: #DA7600;
      display: grid;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-content: center; }
    .section-atencion .atencion-4 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 7;
      grid-row-end: 9;
      background-image: linear-gradient(#000b, #000b), url(../assets/relog1.webp);
      justify-self: center;
      align-self: center;
      background-size: cover;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      color: #DA7600;
      display: grid;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-content: center; }
    .section-atencion .atencion-5 {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 5;
      grid-row-end: 6;
      list-style: none;
      border-top-left-radius: 60px;
      border-bottom-left-radius: 60px;
      border-bottom-right-radius: 60px;
      border-top-right-radius: 60px;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 10px;
      margin: 15px;
      text-decoration: none;
      color: black; }
      .section-atencion .atencion-5 a {
        text-decoration: none;
        color: #DA7600; }
    .section-atencion .atencion-6 {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 6;
      grid-row-end: 7;
      list-style: none;
      border-top-left-radius: 60px;
      border-bottom-left-radius: 60px;
      border-bottom-right-radius: 60px;
      border-top-right-radius: 60px;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 10px;
      margin: 15px;
      text-decoration: none;
      color: black; }
      .section-atencion .atencion-6 a {
        text-decoration: none;
        color: #DA7600; }
    .section-atencion .atencion-7 {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 9;
      grid-row-end: 10;
      list-style: none;
      border-top-left-radius: 60px;
      border-bottom-left-radius: 60px;
      border-bottom-right-radius: 60px;
      border-top-right-radius: 60px;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 10px;
      margin: 15px;
      text-decoration: none;
      color: black; }
      .section-atencion .atencion-7 a {
        text-decoration: none;
        color: #DA7600; }
    .section-atencion .atencion-8 {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 10;
      grid-row-end: 11;
      list-style: none;
      border-top-left-radius: 60px;
      border-bottom-left-radius: 60px;
      border-bottom-right-radius: 60px;
      border-top-right-radius: 60px;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 10px;
      margin: 15px;
      color: black; }
      .section-atencion .atencion-8 a {
        text-decoration: none;
        color: #DA7600; }
  footer .contenedor-footer ul {
    flex-direction: column;
    margin: 10px 80px; }
    footer .contenedor-footer ul li {
      justify-content: center;
      margin: 5px 0px; } }

@media screen and (max-width: 375px) {
  .grid-dos .formulario1 {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 360px;
    padding: 10px;
    margin: auto; } }

@media screen and (max-width: 320px) {
  .grid-dos .formulario1 {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 300px;
    padding: 10px;
    margin: auto; } }
