* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  box-sizing: border-box; }

body {
  background-color: #aaa; }

.contenedor-titulo .titulo {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  background-color: #DA7600; }

.navbar {
  display: flex;
  flex-direction: row;
  background-color: #DA7600;
  text-decoration: none;
  font-family: sans-serif;
  justify-content: space-between;
  text-decoration: none;
  list-style: none;
  flex-wrap: wrap; }
  .navbar .ul-navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    justify-content: center; }
    .navbar .ul-navbar li {
      display: flex;
      flex-direction: row;
      padding: 7px 5px;
      text-decoration: none;
      background-color: rgba(0, 0, 0, 0.5);
      color: black;
      border: 0.5px solid black;
      border-radius: 60px;
      margin: 20px 2px;
      min-height: 10px;
      flex-wrap: wrap; }
      .navbar .ul-navbar li a {
        color: black;
        text-decoration: none;
        font-size: 1.3rem;
        text-align: center; }

.section1 {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "div1 div2 div3 div4" "div5 div6 div7 div8" "div9 div10 div11 div12";
  justify-content: center;
  align-content: center;
  gap: .1rem;
  justify-items: center;
  align-items: center;
  font-family: sans-serif; }
  .section1 .div1 {
    grid-area: div1;
    text-wrap: balance;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    border-radius: 10px; }
  .section1 .div2 {
    grid-area: div2;
    text-wrap: balance;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    border-radius: 10px; }
  .section1 .div3 {
    grid-area: div3;
    text-wrap: balance;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    border-radius: 10px; }
  .section1 .div4 {
    grid-area: div4;
    text-wrap: balance;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    border-radius: 10px; }
  .section1 .div5 {
    grid-area: div5;
    text-wrap: balance;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    border-radius: 10px; }
  .section1 .div6 {
    grid-area: div6;
    text-wrap: balance;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    border-radius: 10px; }
  .section1 .div7 {
    grid-area: div7;
    text-wrap: balance;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    border-radius: 10px; }
  .section1 .div8 {
    grid-area: div8;
    text-wrap: balance;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    border-radius: 10px; }
  .section1 .div9 {
    grid-area: div9;
    text-wrap: balance;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    border-radius: 10px; }
  .section1 .div10 {
    grid-area: div10;
    text-wrap: balance;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    border-radius: 10px; }
  .section1 .div11 {
    grid-area: div11;
    text-wrap: balance;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    border-radius: 10px; }
  .section1 .div12 {
    grid-area: div12;
    text-wrap: balance;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    border-radius: 10px; }

.conocenos .divconocenos1 {
  display: flex;
  flex-direction: row;
  width: 150px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  color: black;
  margin: auto;
  border-radius: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px; }

.conocenos .imgconocenos img {
  width: 100%;
  height: 500px; }

.conocenos .divconocenos2 {
  margin: 5px 10px;
  border: 5px;
  border-radius: 10px;
  background-color: #000000c7; }
  .conocenos .divconocenos2 p {
    color: white;
    border: 5px;
    padding: 5px;
    text-wrap: balance; }

.grid-dos .div1contactanos {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: black;
  border-radius: 40px;
  width: 22%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center; }

.grid-dos .imagen-contactanos img {
  height: 500px;
  width: 100%; }

.grid-dos .formulario1 {
  margin-top: 10px;
  margin-bottom: 5px;
  width: 800px;
  padding: 10px;
  margin: auto; }
  .grid-dos .formulario1 .div2contactanos input {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #000000ce;
    width: 100%;
    border-radius: 40px;
    border: 2px solid black;
    color: orange; }
  .grid-dos .formulario1 .div2contactanos textarea {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #000000ce;
    width: 100%;
    border-radius: 20px;
    border: 2px solid black;
    color: orange; }
  .grid-dos .formulario1 .div2contactanos button {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #000000ce;
    width: 100%;
    border-radius: 20px;
    border: 2px solid black;
    color: orange; }

.tienda {
  display: grid;
  width: 100%;
  height: 700px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 6.25rem); }
  .tienda .div15 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2; }
  .tienda .div16 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2; }
  .tienda .div17 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2; }
  .tienda .div18 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 5; }
  .tienda .img-tienda {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 5;
    height: 100%;
    width: 100%; }
  .tienda .div19 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3; }
  .tienda .div20 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3; }
  .tienda .div21 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3; }
  .tienda .div22 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3; }
  .tienda .div23 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2; }
  .tienda .div24 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3; }
  .tienda .div25 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 3; }
  .tienda .div26 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4; }
  .tienda .div27 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 4; }
  .tienda .div28 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 5; }
  .tienda .div29 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 6; }
  .tienda .div30 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 5;
    grid-row-end: 6; }
  .tienda .div31 {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 6;
    grid-row-end: 7; }
  .tienda .div32 {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 7;
    grid-row-end: 8; }
  .tienda .div33 {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 8;
    grid-row-end: 9; }
  .tienda .div34 {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 9;
    grid-row-end: 10; }

.section-atencion {
  display: grid;
  width: 100%;
  height: 1000px;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  font-family: sans-serif;
  color: black; }
  .section-atencion .atencion-1 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    border-top-right-radius: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin: 15px; }
  .section-atencion .atencion-2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    border-top-right-radius: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin: 15px; }
  .section-atencion .atencion-3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    background-image: linear-gradient(#000b, #000b), url(../assets/relog2.webp);
    justify-self: center;
    align-self: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #DA7600;
    padding: 150px;
    padding-left: 300px;
    padding-right: 300px;
    margin: 20px; }
  .section-atencion .atencion-4 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    background-image: linear-gradient(#000b, #000b), url(../assets/relog1.webp);
    justify-self: center;
    align-self: center;
    background-size: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #DA7600;
    padding: 150px;
    padding-left: 300px;
    padding-right: 300px;
    margin: 20px; }
  .section-atencion .atencion-5 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    list-style: none;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    border-top-right-radius: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin: 15px;
    text-decoration: none;
    color: black; }
    .section-atencion .atencion-5 a {
      text-decoration: none;
      color: #DA7600; }
  .section-atencion .atencion-6 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    list-style: none;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    border-top-right-radius: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin: 15px;
    text-decoration: none;
    color: black; }
    .section-atencion .atencion-6 a {
      text-decoration: none;
      color: #DA7600; }
  .section-atencion .atencion-7 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    list-style: none;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    border-top-right-radius: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin: 15px;
    text-decoration: none;
    color: black; }
    .section-atencion .atencion-7 a {
      text-decoration: none;
      color: #DA7600; }
  .section-atencion .atencion-8 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
    list-style: none;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    border-top-right-radius: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin: 15px;
    color: black; }
    .section-atencion .atencion-8 a {
      text-decoration: none;
      color: #DA7600; }

footer {
  background-color: #DA7600; }
  footer .contenedor-footer {
    width: 100%;
    padding: 20px 30px 20px;
    list-style: none; }
    footer .contenedor-footer .footernav {
      margin: 30px 0px; }
      footer .contenedor-footer .footernav ul {
        display: flex;
        justify-content: center;
        text-decoration: none;
        list-style: none; }
        footer .contenedor-footer .footernav ul li a {
          color: black;
          text-decoration: none;
          font-size: 1.3em;
          transition: 0.5s;
          padding: 7px 5px;
          text-decoration: none;
          background-color: rgba(0, 0, 0, 0.5);
          color: black;
          border: 0.5px solid black;
          border-radius: 60px;
          margin: 20px 2px;
          min-height: 10px;
          flex-wrap: wrap; }

@media screen and (max-width: 768px) {
  .section1 {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "div1 div2 div3" "div4 div5 div6" "div7 div8 div9" "div10 div11 div12"; }
  .div1contactanos {
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: black;
    justify-content: center;
    align-items: center;
    border-radius: 40px; }
  .imagen-contactanos {
    height: 500px;
    width: 100%; }
  .formulario1 {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 600px;
    padding: 10px;
    margin: auto; } }

@media screen and (max-width: 425px) {
  .navbar ul {
    flex-direction: column;
    margin: 10px 80px; }
    .navbar ul li {
      justify-content: center;
      margin: 5px 0px; }
  .section1 {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "div1"  "div2"  "div3" "div4"  "div5"  "div6" "div7"  "div8"  "div9" "div10"  "div11"  "div12"; }
  .divconocenos1 {
    display: flex;
    flex-direction: row;
    width: 150px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    color: black;
    margin: auto;
    border-radius: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px; }
  .divconocenosh3 {
    text-align: center; }
  .imgconocenos img {
    width: 100%;
    height: 300px;
    border-radius: 10px; }
  .div1contactanos {
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: black;
    justify-content: center;
    align-items: center;
    border-radius: 40px; }
  .imagen-contactanos {
    height: 400px;
    width: 100%; }
  .formulario1 {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 400px;
    padding: 10px;
    margin: auto; }
  .footernav ul {
    flex-direction: column; }
  .footernav ul li {
    width: 100%;
    text-align: center;
    margin: 10px; } }

@media screen and (max-width: 375px) {
  .formulario1 {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 360px;
    padding: 10px;
    margin: auto; } }

@media screen and (max-width: 320px) {
  .formulario1 {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 300px;
    padding: 10px;
    margin: auto; } }
