.section-atencion{
    display: grid;
    width: 100%;
    min-height: 1000px;
    list-style: none;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6,1fr);
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    font-family: sans-serif;
    color: black;
    gap: 10px;
    .atencion-1{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        border-top-left-radius: 60px;
        border-bottom-left-radius: 60px;
        border-bottom-right-radius: 60px;
        border-top-right-radius: 60px;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 10px;
        margin: 15px;
    }
    .atencion-2{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        border-top-left-radius: 60px;
        border-bottom-left-radius: 60px;
        border-bottom-right-radius: 60px;
        border-top-right-radius: 60px;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 10px;
        margin: 15px;
    }
    .atencion-3{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 5;    
        background-image: linear-gradient(#000b, #000b), url(../assets/relog2.webp);
        background-size: cover;
        background-repeat: no-repeat;
        color: map-get($colores , colorprincipal);
        display: grid;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-content: center;
    }
    .atencion-4{
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 5;
        background-image: linear-gradient(#000b, #000b), url(../assets/relog1.webp);
        justify-self: center;
        align-self: center;
        background-size: cover;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        color: map-get($colores , colorprincipal);
        display: grid;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-content: center;
    }
    .atencion-5{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
        list-style: none;
        border-top-left-radius: 60px;
        border-bottom-left-radius: 60px;
        border-bottom-right-radius: 60px;
        border-top-right-radius: 60px;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 10px;
        margin: 15px;
        text-decoration: none;
        color: black;
        &:hover{
            transform: scale(1.1);
            background-color: map-get($colores , fondoprincipal);
        }
        }       
        a{
            text-decoration: none;
            color: map-get($colores , colorprincipal);
            &:hover{
                color: #000;
            }
        }
    
    .atencion-6{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 6;
        grid-row-end: 7;
        list-style: none;
        border-top-left-radius: 60px;
        border-bottom-left-radius: 60px;
        border-bottom-right-radius: 60px;
        border-top-right-radius: 60px;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 10px;
        margin: 15px;
        text-decoration: none;
        color: black;
        &:hover{
            transform: scale(1.1);
            background-color: map-get($colores , fondoprincipal);
        }
        a{
            text-decoration: none;
            color: map-get($colores , colorprincipal);
            &:hover{
                color: #000;
            }
        }
    }
    .atencion-7{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 5;
        grid-row-end: 6;
        list-style: none;
        border-top-left-radius: 60px;
        border-bottom-left-radius: 60px;
        border-bottom-right-radius: 60px;
        border-top-right-radius: 60px;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 10px;
        margin: 15px;
        text-decoration: none;
        color: black;
        &:hover{
            transform: scale(1.1);
            background-color: map-get($colores , fondoprincipal);
        }
        a{
            text-decoration: none;
            color: map-get($colores , colorprincipal);
            &:hover{
                color: #000;
            }
        }
    }
    .atencion-8{
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 6;
        grid-row-end: 7;
        list-style: none;
        border-top-left-radius: 60px;
        border-bottom-left-radius: 60px;
        border-bottom-right-radius: 60px;
        border-top-right-radius: 60px;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 10px;
        margin: 15px;
        color: black;
        &:hover{
            transform: scale(1.1);
            background-color: map-get($colores , fondoprincipal);
        }
        a{
            text-decoration: none;
            color: map-get($colores , colorprincipal);
            &:hover{
                color: #000;
            }
        }
    }
}